.news-item{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.row .row{
    margin-bottom:0.1rem;
}
.panel{
    background: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;


}
.panel h1{
    margin-left: 3rem;
}

.top-bar .toggle-topbar a{
    text-transform: none;
}
.timecount{
    float: right;
    margin-right: -4px;
    border-color:#2ca02c;
    padding-right: 0.9375rem;
}
.storyelements{
    margin-bottom: -16px;
    padding: 8px 0 16px;
    bottom: 0;
    clear: left;
}
.label{
    margin-bottom: auto;
    float:right;
    font-size:0.6rem;
    background:none;
    color:#4C9ED9;
    float:right;
    position:relative;
}
strong{
    font-size: 0.9rem;
    font-weight:200
    line-height: normal;

    /*margin-left:-3rem;*/

}
a {
    color:#000
}

p{
    line-height:normal;
}
img{
    margin-right: -35px;
    /*padding-left: 0.9375rem;*/
    /*padding-right:0.9375rem*/
    /*margin-left: 10px;*/
}

.dropdown.button, button.dropdown{
    /*padding-right:12.98rem;*/
    background:#333 repeat scroll;
    width:100%;
    font-size: 0.9rem;
    border-radius:1px;
    margin-top:-1.5rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    border-color: #4C9ED9;
}




/*#label.active label {*/
    /*background: url("../img/search-icon-gray-small.png") -50px 0;*/
/*}*/
