
/*.title-area{*/
/*background:url('../img/logo-medium4.png') no-repeat;*/

/*}*/
.name{
    background:url('../img/logo-white-transparent-big1.png') no-repeat;
    background-position: center;
}
.row {
    margin-bottom:0.4rem;
    max-width: 100%;
    overflow: hidden;
    margin-top:20px;
}
.searchbar-row{
    align-content: center;
    padding-top: 12px;
    padding-right: 6px !important;
    padding-left: 6px !important;
    background-color: white;
    width:100%;
    height:100%;
    overflow: hidden;
}
.searchbar-input-text{
    border-bottom: 3px solid #336 !important;
    border-left: 3px solid #336 !important;
    border-right: medium none !important;
    border-bottom-right-radius: 0 !important;
    border-top: 3px solid #336!important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    height:2.5rem !important;
}

.searchbutton{
    width:100%;
    height:100%;
    overflow: auto;
    padding-bottom:1.22rem;
    padding-top:1.2rem;
    background:url("../img/box-icon-search.png") no-repeat center #336 ;
}
button{
    padding:0 0 0 0;

}
.home-button{
    background:none;
    color:#336;
    margin-left: 45px;
}

button:hover, button:focus, .button:hover, .button:focus{
    background-color: #393666 !important;
}
::-webkit-input-placeholder {
    color: #020501; }

:-moz-placeholder {
    /* Firefox 18- */
    color: #020501; }

::-moz-placeholder {
    /* Firefox 19+ */
    color: #020501; }

:-ms-input-placeholder {
    color: #020501; }
/*#placeholder{*/
/*color:   #53e828*/
/*}*/

.searchbar-button{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom:solid 3px #336 ;
    height:100%;
    width:100%;
}
.top-bar{
    width:100%;
    padding-top:7px;
    margin-bottom: 3px;
    height: 3.8125rem;
    background: #336;
    /*background:url("../img/box-icon-search.png") no-repeat center #333366;*/

}

.title-area{
    width:100%;
}

.top-bar .toggle-topbar.menu-icon a {
    background-color:#336;
    margin-top:-8px;
    color:#336;
    height: 3.8125rem;
}
.menu-icon{
    color:#336;
}
.opera-panel{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    font-family: roboto;
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-top: 9px;
    padding-right: 6px;
    padding-bottom: 0px !important;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.panel {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    font-family: roboto;
    border-radius: 9px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 9px;
    padding-right: 6px;
    padding-bottom: 0px !important;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.panel.radius {
    border-radius: 9px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.08rem;
    text-rendering: optimizeLegibility;
}

.text-details{
    text-align:left;
    display:block;
    position:relative;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 0px !important;
    padding-bottom: 8px !important;
    /*border-top:1.5px solid #E8E8E8;*/
}

.title-holder{
    max-height: 50px;
    overflow:visible;
    position:relative;
    display:block;
    word-wrap:break-word;
    margin-left:0;
}
.title{
    webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 100px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    margin-left: 0 !important;
    line-height: 1.3 !important;
    text-transform: capitalize;
}
.title-important{
    margin-top: 5px !important;
}
.full-story-title{
    font: 24px Roboto;
    text-align: justify;
    font-weight:bolder;
    text-transform: capitalize
}
.related-content{
    background-color: #336;
    color:#ffffff;
    text-transform: capitalize;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.publisher-name{
    font-size:0.75rem;
    color: #898989;
    font-weight:300;
    margin-top: 6px;
    position: relative;
    display:inline-block;
}

.category-name{
    font-size:0.75rem;
    color: #898989;
    font-weight:300;
    margin-top: 6px;
    position: relative;
    display:inline-block;
    margin-right: 30px;

}

.timecount-name{
    font-size:0.75rem;
    color: #898989;
    font-weight:300;
    margin-top: 6px;
    position: relative;
    display:inline-block;
    float: right;


}

.pager{
    font-size: 20px;
    color:#336;
    text-align: center;
}
.pager li{
    float:left;
    display:inline;
    text-align: center;
}
.image_container{
    border-radius: 9px;
    display:block;
    cursor:pointer;
    position:relative;
    z-index: 1;
    overflow:hidden;
    padding:1px;
    -webkit-box-sizing: border-box;
    content:'';
    height:100%;
    left:0;
    top:0;
    width:100%;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,.1);
    box-shadow:0 1px 4px rgba(0,0,0,.1);
}

.panel h1{
    margin-left: 3rem;
}


.top-bar .toggle-topbar a{
    text-transform: none;
}
.timecount{
    float: right;
    margin-right: -4px;
    border-color:#2ca02c;
    padding-right: 0.9375rem;
}
.storyelements{
    margin-bottom: -16px;
    padding: 8px 0 16px;
    bottom: 0;
    clear: left;
}
.label{
    margin-bottom: auto;
    float:right;
    font-size:0.75rem;
    background:none;
    color:#898989;
    font-family: roboto;
    float:right;
    position:relative;
    display:inline-block;
    width:100px;
    padding:0 !important;
}
strong{
    font-size: 0.9rem;
    font-weight:200
line-height: normal;

    /*margin-left:-3rem;*/

}
a {
    color:#336 ;
}

a:focus, a:hover{
    color: #4c4e9e;
}


p{
    line-height:normal;
}

.image{
    height:0;
    border:0;
    width:100%;
    display:inline-block;
    vertical-align: top;
}


.smallimage{
    border:0;
    display:block;
    /*vertical-align: middle;*/
    float: left;
    padding-right: 20px;
    padding-top: 3px;
    width:120px !important;
    height:120px !important;
    box-sizing: border-box;
    cursor: pointer;
    overflow:hidden;
}

.thumbnail{
    position: absolute;
    clip: rect 0 100px 100px 0;
    height:200px;
}

.columns{
    padding-left: 0;
    padding-right:0;
    overflow-x: hidden;
    overflow-y:hidden;
}

.dropdown.button, button.dropdown{
    /*padding-right:12.98rem;*/
    background:#336  repeat scroll;
    width:100%;
    font-size: 1.3rem;
    /*border-radius:1px;*/
    margin-top: 0.3px;
    margin-bottom: 7px;
    height: 40px;
    padding-top:6px;
    overflow: auto;
}
.f-dropdown{
    overflow: auto;
}

.f-dropdown1 {
    display: none;
    /*left: -9999px;*/
    list-style: none;
    margin-left: 0;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.875rem;
    height: auto;
    max-height: none;
    width: 100%;
    /*z-index: 89;*/
    margin-top: 2px;
    max-width: 200px; }
.f-dropdown1.open {
    /*display: block; */
    }
.f-dropdown1 > *:first-child {
    margin-top: 0; }
.f-dropdown1 > *:last-child {
    margin-bottom: 0; }
.f-dropdown1:before {
    border: inset 6px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #FFFFFF transparent;
    border-bottom-style: solid;
    position: absolute;
}
    /*top: -12px;*/
    /*left: 10px;*/
    /*z-index: 89; }*/
.f-dropdown1:after {
    border: inset 7px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-style: solid;
    position: absolute;
    /*top: -14px;*/
    /*left: 9px;*/
    /*z-index: 88; */
}
.f-dropdown1.right:before {
    /*left: auto;*/
    /*right: 10px; */
}
.f-dropdown1.right:after {
    /*left: auto;*/
    /*right: 9px; */
}
.f-dropdown1.drop-right {
    display: none;
    /*left: -9999px;*/
    list-style: none;
    margin-left: 0;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.875rem;
    height: auto;
    max-height: none;
    width: 100%;
    /*z-index: 89;*/
    margin-top: 0;
    margin-left: 2px;
    max-width: 200px; }
.f-dropdown1.drop-right.open {
    display: block; }
.f-dropdown1.drop-right > *:first-child {
    margin-top: 0; }
.f-dropdown1.drop-right > *:last-child {
    margin-bottom: 0; }
.f-dropdown1.drop-right:before {
    border: inset 6px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #FFFFFF transparent transparent;
    border-right-style: solid;
    position: absolute;
    top: 10px;
    left: -12px;
    z-index: 89;
}
.f-dropdown1.drop-right:after {
    border: inset 7px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #cccccc transparent transparent;
    border-right-style: solid;
    position: absolute;
    /*top: 9px;*/
    /*left: -14px;*/
    /*z-index: 88; */
}
.f-dropdown1.drop-left {
    display: none;
    /*left: -9999px;*/
    list-style: none;
    margin-left: 0;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.875rem;
    height: auto;
    max-height: none;
    width: 100%;
    /*z-index: 89;*/
    margin-top: 0;
    margin-left: -2px;
    max-width: 200px; }
.f-dropdown1.drop-left.open {
    display: block; }
.f-dropdown1.drop-left > *:first-child {
    margin-top: 0; }
.f-dropdown1.drop-left > *:last-child {
    margin-bottom: 0; }
.f-dropdown1.drop-left:before {
    border: inset 6px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #FFFFFF;
    border-left-style: solid;
    position: absolute;
    /*top: 10px;*/
    /*right: -12px;*/
    /*left: auto;*/
    /*z-index: 89; */
}
.f-dropdown1.drop-left:after {
    border: inset 7px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #cccccc;
    border-left-style: solid;
    position: absolute;
    /*top: 9px;*/
    /*right: -14px;*/
    /*left: auto;*/
    /*z-index: 88; */
}
.f-dropdown1.drop-top {
    display: none;
    /*left: -9999px;*/
    list-style: none;
    margin-left: 0;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.875rem;
    height: auto;
    max-height: none;
    width: 100%;
    /*z-index: 89;*/
    margin-left: 0;
    margin-top: -2px;
    max-width: 200px; }
.f-dropdown1.drop-top.open {
    display: block; }
.f-dropdown1.drop-top > *:first-child {
    margin-top: 0; }
.f-dropdown1.drop-top > *:last-child {
    margin-bottom: 0; }
.f-dropdown1.drop-top:before {
    border: inset 6px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: #FFFFFF transparent transparent transparent;
    border-top-style: solid;
    bottom: -12px;
    position: absolute;
    /*top: auto;*/
    /*left: 10px;*/
    /*right: auto;*/
    /*z-index: 89; */
}
.f-dropdown1.drop-top:after {
    border: inset 7px;
    /*content: "";*/
    display: block;
    height: 0;
    width: 0;
    border-color: #cccccc transparent transparent transparent;
    border-top-style: solid;
    bottom: -14px;
    position: absolute;
    /*top: auto;*/
    /*left: 9px;*/
    /*right: auto;*/
    /*z-index: 88;*/
}
.f-dropdown1 li {
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0; }
.f-dropdown1 li:hover, .f-dropdown1 li:focus {
    background: #EEEEEE; }
.f-dropdown1 li.radius {
    border-radius: 3px; }
.f-dropdown1 li a {
    display: block;
    padding: 0.5rem;
    color: #555555; }
.f-dropdown1.content {
    display: none;
    /*left: -9999px;*/
    list-style: none;
    margin-left: 0;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.875rem;
    height: auto;
    max-height: none;
    padding: 1.25rem;
    width: 100%;
    /*z-index: 89;*/
    max-width: 200px; }
.f-dropdown1.content.open {
    display: block; }
.f-dropdown1.content > *:first-child {
    margin-top: 0; }
.f-dropdown1.content > *:last-child {
    margin-bottom: 0; }
.f-dropdown1.tiny {
    max-width: 200px; }
.f-dropdown1.small {
    max-width: 300px; }
.f-dropdown1.medium {
    max-width: 500px; }
.f-dropdown1.large {
    max-width: 800px; }
.f-dropdown1.mega {
    width: 100% !important;
    max-width: 100% !important; }
.f-dropdown1.mega.open {
    /*left: 0 !important; */
}

.dropdown1.button, .button1.dropdown1{
    position: relative;
    padding-right: 3.5625rem; }
.dropdown1.button::after, button.dropdown::after {
    border-color: #FFFFFF transparent transparent transparent;
    border-style: solid;
    /*content: "";*/
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    width: 0; }
.dropdown1.button::after, button.dropdown1::after {
    border-width: 0.375rem;
    right: 1.40625rem;
    margin-top: -0.15625rem; }
.dropdown1.button::after, button.dropdown1::after {
    border-color: #FFFFFF transparent transparent transparent; }
.dropdown1.button.tiny, button.dropdown1.tiny {
    padding-right: 2.625rem; }
.dropdown1.button.tiny:after, button.dropdown1.tiny:after {
    border-width: 0.375rem;
    right: 1.125rem;
    margin-top: -0.125rem; }
.dropdown1.button.tiny::after, button.dropdown1.tiny::after {
    border-color: #FFFFFF transparent transparent transparent; }
.dropdown1.button.small, button.dropdown1.small {
    padding-right: 3.0625rem; }
.dropdown1.button.small::after, button.dropdown1.small::after {
    border-width: 0.4375rem;
    right: 1.3125rem;
    margin-top: -0.15625rem; }
.dropdown1.button.small::after, button.dropdown1.small::after {
    border-color: #FFFFFF transparent transparent transparent; }
.dropdown1.button.large, button.dropdown1.large {
    padding-right: 3.625rem; }
.dropdown1.button.large::after, button.dropdown1.large::after {
    border-width: 0.3125rem;
    right: 1.71875rem;
    margin-top: -0.15625rem; }
.dropdown1.button.large::after, button.dropdown1.large::after {
    border-color: #FFFFFF transparent transparent transparent; }
.dropdown1.button.secondary:after, button.dropdown1.secondary:after {
    border-color: #333333 transparent transparent transparent; }


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    border-color: #FFFFFF;
}

.searchbutton{
    width:100%;
    height:100%;
    padding-bottom:1.22rem;
    padding-top:1.1rem;
    background:url("../img/box-icon-search.png") no-repeat center #336 ;
}

body{
    background-color:#E8E8E8;
    overflow-x: hidden;
    padding: 4px;
    font-family: roboto;
}
.footer{
     display: block;
     list-style: none;
     cursor: pointer;

 }


.likecounter{
    position: relative;
    color: #9197a3;
    font-weight: normal;
    margin: 10px;

}

.likespan{
    display: inline;
    white-space: nowrap;
}


.shareboxdiv{
    -webkit-border-radius: 0;
    display: -webkit-box;
    -webkit-border-radius: 0 0 4px 4px;

    position: relative;
    font-weight: bold;
    background: #f3f3f3;
    color: #5e5e5e;
    font-size: 12px;
    line-height: 36px;
}


.sharebox {
    -webkit-box-flex: 1;
    width: 0;
    padding: 0 8px;
    text-align: center;
    position: relative;
    display: block;
    font-weight: bold;
    background: #f3f3f3;
    color: #5e5e5e;
    font-size: 12px;
    line-height: 36px;
}

.sharebox::before {
    border-left: 1px solid #d6d8db;
    bottom: 7px;
    content: '';
    left: 0;
    position: absolute;
    top: 7px;
}

.medium-6 {
    width: 100%;
}

.newspapericon {
    background-image: url("../img/feed-ic.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -2px;

}


.categoryicon {
    background-image: url("../img/category.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -2px;

}


.time-icon{
    background: url('../img/clock-ic.jpg')no-repeat;
    position: relative;
    background-repeat: no-repeat;
    background-size: 16px 15px;
    width: 18px;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -3px;

}
.twittericon {
    background-image: url("../img/icon-twitter.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -5px;

}

.newspepaicon {
    background-image: url("../img/newpepaicon.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: -5px;

}

.fbicon {
    background-image: url("../img/index.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -5px;
}

.to-top{
    background-image: url("../img/back-to-top.png");
    position:relative;
    background-repeat: no-repeat;
}
.back-to-top {
    background-image: url("../img/to_top_icon.png");
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-repeat: no-repeat;
}

.back-to-top i {
    font-size: 30px;
}

.loaderImage{
    background-image:url("../img/index.gif")
position:relative;
    background-repeat: no-repeat;
    display:inline-block;
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
}
.full-story-text{
    line-height: 1.5;
    text-align:justify;
    text-justify:inter-word;
    /*font:16px arial;*/
    /*padding:0.2rem;*/
}
.recent-stories-text{
    width:100%;
    font:13px arial;
    text-justify:inter-word;
    text-align: center;
    padding:0.3rem;
    /*overflow:hidden;*/
}
.storyExtras{
    width:100%;
    position:relative;
    display:inline-block;
    margin-bottom:6px;
    padding-bottom: 0;
}

